{% include 'header.html' %}
<div class="about_section layout_padding">
    <div class="container">
       <div class="about_section_2">
          <div class="row">
             <div class="col-md-6" style="margin-top: 90px;"> 
                <div class="image_iman"><img src="https://www.hdcarwallpapers.com/download/jeep_wrangler_unlimited_rubicon_2018_4k-3840x2160.jpg" class="about_img"></div>
             </div>
             <div class="col-md-6"> 
                <div class="about_taital_box">
                   <h1 class="about_taital text-white">About <span style="color: #fe5b29;">Us</span></h1>
                   <p class="about_text text-white">DriveEase is your trusted partner for seamless and convenient car rentals. Built with the goal of making travel simpler, faster, and more reliable, DriveEase offers a wide range of well-maintained vehicles suited for every journey — from daily commutes to long road trips.</p>

                     <p class="about_text text-white">At DriveEase, we believe renting a car should be effortless. That's why our platform is designed to provide transparent pricing, easy bookings, and a hassle-free experience from start to finish. Whether you're planning a vacation, attending an event, or simply need a temporary ride, we ensure that you find a vehicle that perfectly matches your needs.</p>
                     
                     <div class="readmore_btn"><a href="#">Read More</a></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 {% include 'footer.html' %}